<div class="flex flex-col items-center">
    <!-- tailwind will not work for the color here, as it is generated dynamically according to the data from the microcontroller -->
    <fa-icon [icon]="faLightbulb" (click)="randomColor()" style="color: {{ lightbulbColor | async }}"
        class="text-[30vh] left-[50%] hover:cursor-pointer transition-colors duration-500">
    </fa-icon>
    <input [formControl]="addressFC" type="text" id="addressInput" class=" w-[25vw] min-w-[18rem] rounded-md" />
    <span *ngIf="formInvalid" class="text-error mt-2">Bitte eine IP-Adresse eingeben. z.B. 192.168.0.18</span>
    <button (click)="onSubmit()"
        class="dark:text-primary-dark-txt dark:bg-secondary-dark-btn py-2.5 px-24 {{ formInvalid ? 'mt-2' : 'mt-10'}} rounded-md ">Verbinden</button>
    <p class="text-primary-dark-txt">{{ lightbulbColor | async }}</p>
</div>