<div class="">
    <!-- Menu icon if menu is closed -->
    <fa-icon [icon]="faBars" (click)="toggleMenu()"
        class="absolute hover:cursor-pointer dark:text-primary-dark-txt text-5xl left-6 top-6 transition hover:scale-105">
    </fa-icon>

    <div
        class="absolute w-full h-full dark:bg-secondary-dark-bg {{ active ? '' : '-translate-x-full' }} transition duration-[100ms]">
        <div class="w-full h-full flex flex-col items-center {{ active ? 'opacity-100' : 'opacity-0' }} trastition">
            <fa-icon [icon]="faTimes" (click)="toggleMenu()"
                class="hover:cursor-pointer dark:text-primary-dark-txt text-6xl mt-16 {{ active ? 'scale-100' : 'scale-0' }}">
            </fa-icon>
            <div class="flex flex-col items-center mt-20 dark:text-primary-dark-txt">
                <a *ngFor="let item of menuItems" class="text-2xl my-4 hover:cursor-pointer"
                    routerLink="{{ item.link }}">{{ item.name }}</a>
            </div>
        </div>
    </div>



</div>